
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 80px;
    margin-bottom: 70px;
    border-radius: 10px;
}

h1 {
    color: #5e2ab4;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table thead {
    background-color: #f4f4f4;
}

table th {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    font-weight: bold;
}

table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table a {
    color: #7327BC;
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

.actions a {
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
}

.actions a:hover {
    text-decoration: underline;
}

.actions form {
    display: inline;
}
