{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/apropos/privacypolicy.css') }}">
{% endblock %}

{% block body %}
    <h1>Politique de confidentialité</h1>
    <ul>
        <li class="privacy-policy-p">
            La présente politique de confidentialité décrit les politiques de  
            Mangaly,  
            102 Av. Phillipe Auguste,  
            Ile-de-France  
            75011,  
            France,  
            email: contact@mangaly.fr,  
            telephone: 0100000000  
            sur la collecte, l'utilisation et la divulgation des informations que nous recueillons lorsque vous utilisez notre site web ( https://www.mangaly.fr ). (le « service »). En accédant au service ou en l'utilisant, vous consentez à la collecte, à l'utilisation et à la divulgation de vos informations conformément à la présente politique de confidentialité. Si vous n'y consentez pas, veuillez ne pas accéder au service ni l'utiliser.
        </li>
        <br>
        <li class="privacy-policy-p">
            Nous pouvons modifier la présente politique de confidentialité à tout moment sans vous en informer au préalable et nous publierons la politique de confidentialité révisée sur le service. La politique révisée entrera en vigueur 180 jours après sa publication dans le service et votre accès ou utilisation continue du service après cette date constituera votre acceptation de la politique révisée de protection de la vie privée. Nous vous recommandons donc de consulter régulièrement cette page.
        </li>
    </ul>
    
    <ol class="privacy-policy-ol">
        <li>
            <h2 class="privacy-policy-h2">
                Les informations que nous recueillons :
            </h2>
    
            <p class="privacy-policy-p">
                Nous collecterons et traiterons les informations personnelles suivantes vous concernant :
            </p>
            <ol class="privacy-policy-ol">
                <li>Email</li>
            </ol>
        </li>
        <li>
            <h2 class="privacy-policy-h2">
                Comment nous utilisons vos informations :
            </h2>
            <p class="privacy-policy-p">
                Nous utiliserons les informations que nous recueillons à votre sujet aux fins suivantes :
            </p>
            <ol class="privacy-policy-ol">
                <li>Marketing/Promotion</li>
                <li>Création d'un compte utilisateur</li>
                <li>Support</li>
                <li>Publicité ciblée</li>
                <li>Résolution des litiges</li>
            </ol>
            <p class="privacy-policy-p">
                Si nous voulons utiliser vos informations à d'autres fins, nous vous demanderons votre consentement et nous n'utiliserons vos informations qu'après avoir reçu votre consentement et, dans ce cas, uniquement aux fins pour lesquelles vous avez donné votre consentement, sauf si la loi nous oblige à faire autrement.
            </p>
        </li>
        <li>
            <h2 class="privacy-policy-h2">
                Conservation de vos informations :
            </h2>
            <p class="privacy-policy-p">
                {# Vous pouvez ajouter ici des informations complémentaires si besoin #}
            </p>
        </li>
        <li>
            <h2 class="privacy-policy-h2">
                Vos droits:
            </h2>
            <p class="privacy-policy-p">
                En fonction de la législation applicable, vous pouvez avoir un droit d'accès et de rectification ou d'effacement de vos données à caractère personnel ou recevoir une copie de vos données à caractère personnel, restreindre le traitement actif de vos données ou vous y opposer, nous demander de partager (porter) vos données à caractère personnel avec une autre entité, retirer tout consentement que vous nous avez donné pour traiter vos données, un droit de déposer une plainte auprès d'une autorité statutaire et tout autre droit pouvant être pertinent en vertu des lois applicables. Pour exercer ces droits, vous pouvez nous écrire à contact@mangaly.fr. Nous répondrons à votre demande conformément à la législation applicable.
            </p>
            <p class="privacy-policy-p">
                Veuillez noter que si vous ne nous autorisez pas à collecter ou à traiter les informations personnelles requises ou si vous retirez votre consentement au traitement de ces informations aux fins requises, il se peut que vous ne puissiez pas accéder aux services pour lesquels vos informations ont été demandées, ni les utiliser.
            </p>
        </li>
        <li>
            <h2 class="privacy-policy-h2">
                Cookies Etc.
            </h2>
            <p class="privacy-policy-p">
                Pour en savoir plus sur la manière dont nous utilisons ces technologies et sur les choix qui s'offrent à vous en ce qui concerne ces technologies de suivi, veuillez vous référer à notre site web.
                <a href="https://www.cookies.fr">Politique de cookies</a>
            </p>
        </li>
        <li>
            <h2 class="privacy-policy-h2">
                Sécurité :
            </h2>
            <p class="privacy-policy-p">
                La sécurité de vos informations est importante pour nous et nous utiliserons des mesures de sécurité raisonnables pour empêcher la perte, l'utilisation abusive ou la modification non autorisée de vos informations sous notre contrôle. Toutefois, compte tenu des risques inhérents, nous ne pouvons pas garantir une sécurité absolue et, par conséquent, nous ne pouvons pas assurer ou garantir la sécurité des informations que vous nous transmettez et vous le faites à vos propres risques.
            </p>
        </li>
        <li>
            <h2 class="privacy-policy-h2">
                Liens avec des tiers et utilisation de vos informations :
            </h2>
            <p class="privacy-policy-p">
                Notre service peut contenir des liens vers d'autres sites web qui ne sont pas exploités par nous. La présente politique de confidentialité ne traite pas de la politique de confidentialité et des autres pratiques des tiers, y compris des tiers exploitant un site web ou un service accessible par un lien sur le service. Nous vous conseillons vivement de consulter la politique de confidentialité de chaque site que vous visitez. Nous n'avons aucun contrôle et n'assumons aucune responsabilité quant au contenu, aux politiques de confidentialité ou aux pratiques des sites ou services tiers.
            </p>
        </li>
        <li>
            <h2 class="privacy-policy-h2">
                Délégué aux plaintes et à la protection des données :
            </h2>
            <p class="privacy-policy-p">
                Si vous avez des questions ou des inquiétudes concernant le traitement des informations dont nous disposons, vous pouvez envoyer un courriel à notre responsable des griefs à l'adresse suivante
                <br>Mangaly,  
                <br>102 Av. Phillipe Auguste,  
                <br>email: contact@mangaly.fr.
                <br>Nous répondrons à vos préoccupations conformément à la législation applicable.
            </p>
        </li>
    </ol>
{% endblock %}
