.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 70px;
    border-radius: 10px;
}

h1 {
    color: #7327BC;
    text-align: center;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.50);
}

table thead {
    background-color: #d8b6f0;
}

table tbody {
    background-color: white;
}

table th {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    font-weight: bold;
}

table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table a {
    color: #7327BC;
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

.actions a {
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
}

.actions a:hover {
    text-decoration: underline;
}

.actions form {
    display: inline;
}
