{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/commentaire/editcommentaires.css') }}">
{% endblock %}

{% block body %}
    <div class="commentaire-container">
        <form class="commentaire-form" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token('edit_commentaire') }}">
            <label for="contenu">Contenu du commentaire :</label>
            <textarea id="contenu" name="contenu" required>{{ commentaire.contenu }}</textarea>
            
            <div class="form-buttons">
                <button type="submit" class="submit-btn">Enregistrer</button>
                <button type="button" class="cancel-btn" onclick="window.history.back();">Annuler</button>
            </div>
        </form>
    </div>
{% endblock %}