{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/commentaire/newcommentaires.css') }}">
{% endblock %}


{% block body %}
<h1>Ajouter un commentaire pour la critique "{{ critique.titre }}"</h1>

<form method="post">
    <input type="hidden" name="_token" value="{{ csrf_token('new_commentaire') }}">
    <div class="form-group">
        <label for="contenu">Contenu</label>
        <textarea id="contenu" name="contenu" class="form-control" 
                  required minlength="2" maxlength="2000"></textarea>
    </div>
    <button type="submit" class="btn btn-success mt-3">Publier</button>
    <a href="{{ path('commentaire_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
</form>
{% endblock %}