<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon Site{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# On inclut ici les liens vers les CSS globaux #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>

    {% block nav %}
        <nav>
            <input type="checkbox" id="sidebar-active">
            <label for="sidebar-active" class="open-sidebar-button">
                <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#5f6368">
                    <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
                </svg>
            </label>
            <label id="overlay" for="sidebar-active"></label>
            <div class="links-container">
                <label for="sidebar-active" class="close-sidebar-button">
                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#5f6368">
                        <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                    </svg>
                </label>
                <a class="home-link" href="{{ path('app_home') }}">
                    <img src="{{ asset('images/logo-mangaly-sans-fond.png') }}" alt="logo mangaly" class="logo">
                </a>
                <a href="/mangas/">Critiques</a>
                <a href="/posts/">Forum</a>
                <a href="/theories/">Théories</a>
                <a href="/contact">Contact</a>
                
                <div class="dropdown">
                    <input type="checkbox" id="user-dropdown-checkbox" class="dropdown-checkbox">
                    <label for="user-dropdown-checkbox" class="dropdown-toggle">
                        <i class="fa-regular fa-user" style="color: #ffffff;"></i>▼
                    </label>
                    <div class="dropdown-menu">
                        <a href="/register">Inscription</a>
                        <a href="/login">Connexion</a>
                    </div>
                </div>
                <a href="search.html"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></a>
            </div>
        </nav>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
        <footer>
            <div class="footer-top-border"></div> 
            <div class="footer-container">
                <div class="footer-column">
                    <h3>Navigation rapide</h3>
                    <ul>
                        <li><a href="/home">Accueil</a></li>
                        <li><a href="/mangas/">Critiques</a></li>
                        <li><a href="/posts/">Forum</a></li>
                        <li><a href="/theories/">Théories</a></li>
                        <li><a href="/register">Inscription / Connexion</a></li>
                    </ul>
                </div>
                <div class="footer-separator"></div> 
                <div class="footer-column">
                    <h3>À propos</h3>
                    <ul>
                        <li><a href="/politique-de-confidentialité">Politique de confidentialité</a></li>
                        <li><a href="/conditions-generales">Conditions d'utilisation</a></li>
                    </ul>
                </div>
                <div class="footer-separator"></div>
                <div class="footer-column">
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="/contact">Formulaire de contact</a></li>
                    </ul>
                </div>
                <div class="footer-separator"></div> 
                <div class="footer-column">
                    <h3>Réseaux sociaux</h3>
                    <div class="social-icons">
                        <a href="#" class="social-icon"><i class="fa-brands fa-facebook-f" style="color: #6049a7;"></i></a>
                        <a href="#" class="social-icon"><i class="fa-brands fa-twitter" style="color: #6049a7;"></i></a>
                        <a href="#" class="social-icon"><i class="fa-brands fa-instagram" style="color: #6049a7;"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-border"></div> 
            <div class="footer-bottom">
                <p>2024 © Mangaly. Tous droits réservés.</p>
            </div> 
        </footer>
    {% endblock %}

    {% block javascripts %}{% endblock %}
</body>
</html>
