{% extends 'base.html.twig' %}

{% block title %}Theorie - Page1{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/theories/page1.css') }}">
{% endblock %}

{% block body %}    
    <main class="theories-container">
        
        <!-- Barre de recherche -->
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="Rechercher un manga...">
            <button id="search-btn"><i class="fas fa-search"></i></button>
        </div>
        
        <!-- Filtres -->
        <div class="filters">
            <select id="filter-genre">
                <option value="all">Tous les genres</option>
                <option value="shonen">Shônen</option>
                <option value="shojo">Shôjo</option>
                <option value="seinen">Seinen</option>
                <option value="seinen">Josei</option>
                <option value="seinen">Kodomo</option>
            </select>
            
            <div class="keyword">
                <input type="text" id="filter-keyword" placeholder="Mot-clé">
                <button id="search-btn"><i class="fas fa-search"></i></button>
            </div>
            
            <select id="filter-popularity">
                <option value="all">Popularité</option>
                <option value="popular">Les plus populaires</option>
                <option value="recent">Les moins populaires</option>
            </select>
            <select id="filter-popularity">
                <option value="all">Date d'ajout</option>
                <option value="popular">Les plus récents</option>
                <option value="recent">Les moins récents</option>
            </select>
            <a href="/theories/new" class="add-post-btn">Ajouter une théorie</a>
        </div>
        
        <!-- Tableau des posts -->
        <section class="posts-section">
            <table class="posts-table">
                <thead>
                    <tr>
                        <th>DISCUSSIONS</th>
                        <th>REPONSES</th>
                        <th>VUES</th>
                        <th>DERNIER MESSAGE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="fas fa-fire"></i> <a href="/theories/page2">Top 5 des animes à regarder absolument en 2024</a><br>Par : [User] | 19 octobre 2024, 14:19</td>
                        <td>315</td>
                        <td>1001</td>
                        <td>Par : [User] | 20 octobre 2024, 16:18</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-fire"></i> <a href="#">Personnage le plus puissant de MHA : vos avis ?</a><br>Par : [User] | 19 octobre 2024, 09:08</td>
                        <td>669</td>
                        <td>3708</td>
                        <td>Par : [User] | 20 octobre 2024, 23:17</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-fire"></i> <a href="#">Vous êtes plus team mangas ou animes ?</a><br>Par : [User] | 19 octobre 2024, 17:17</td>
                        <td>114</td>
                        <td>773</td>
                        <td>Par : [User] | 20 octobre 2024, 14:19</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-fire"></i> <a href="#">Vous êtes plus team mangas ou animes ?</a><br>Par : [User] | 19 octobre 2024, 17:17</td>
                        <td>114</td>
                        <td>773</td>
                        <td>Par : [User] | 20 octobre 2024, 14:19</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-fire"></i> <a href="#">Vous êtes plus team mangas ou animes ?</a><br>Par : [User] | 19 octobre 2024, 17:17</td>
                        <td>114</td>
                        <td>773</td>
                        <td>Par : [User] | 20 octobre 2024, 14:19</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-fire"></i> <a href="#">Vous êtes plus team mangas ou animes ?</a><br>Par : [User] | 19 octobre 2024, 17:17</td>
                        <td>114</td>
                        <td>773</td>
                        <td>Par : [User] | 20 octobre 2024, 14:19</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-fire"></i> <a href="#">Vous êtes plus team mangas ou animes ?</a><br>Par : [User] | 19 octobre 2024, 17:17</td>
                        <td>114</td>
                        <td>773</td>
                        <td>Par : [User] | 20 octobre 2024, 14:19</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-fire"></i> <a href="#">Vous êtes plus team mangas ou animes ?</a><br>Par : [User] | 19 octobre 2024, 17:17</td>
                        <td>114</td>
                        <td>773</td>
                        <td>Par : [User] | 20 octobre 2024, 14:19</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-fire"></i> <a href="#">Vous êtes plus team mangas ou animes ?</a><br>Par : [User] | 19 octobre 2024, 17:17</td>
                        <td>114</td>
                        <td>773</td>
                        <td>Par : [User] | 20 octobre 2024, 14:19</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-fire"></i> <a href="#">Vous êtes plus team mangas ou animes ?</a><br>Par : [User] | 19 octobre 2024, 17:17</td>
                        <td>114</td>
                        <td>773</td>
                        <td>Par : [User] | 20 octobre 2024, 14:19</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
