{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/post/page3.css') }}">
{% endblock %}

{% block body %}
    <form class="formulaire">
        <div class="container">
            <h2>Ajouter un commentaire</h2>
            <form action="#" method="POST">
                <textarea name="comment" placeholder="Écrivez votre commentaire ici..."></textarea>
                <div class="button-group">
                    <button type="submit">Publier</button>
                    <a href="/posts/page2" class="cancel-button">Annuler</a>
                </div>
            </form>
        </div>
    </form>
{% endblock %}
